<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.quarian.weaver">

    <application
        android:name=".WeaverApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeModern">

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppThemeModern.NoActionBar"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".campaigns.CampaignListActivity"
            android:theme="@style/AppThemeModern.NoActionBar"/>

        <activity
            android:name=".characters.CharacterLibraryActivity"
            android:theme="@style/AppThemeModern.NoActionBar"/>

        <activity android:name=".characters.CharacterEditorActivity"/>

        <activity android:name=".characters.CharacterEventActivity"/>

        <activity
            android:name=".characters.CharacterViewActivity"
            android:theme="@style/AppThemeModern.NoActionBar"/>

        <activity android:name=".campaigns.CampaignSynopsisActivity"/>

        <activity android:name=".players.PlayerCharacterListActivity"/>

        <activity
            android:name=".campaigns.CampaignEditorActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppThemeModern.NoActionBar" />

        <activity
            android:name=".theming.SetThemeActivity"
            android:theme="@style/AppThemeModern.NoActionBar" />

        <activity
            android:name=".namesets.ConfigureNameSetsActivity"
            android:theme="@style/AppThemeModern.NoActionBar"/>

        <activity android:name=".settings.SettingsActivity" />

        <activity android:name=".assets.ViewScheduledToDeleteActivity" />

        <activity android:name=".dev.DeveloperFunctionsActivity" />

        <!-- TODO: test if this works in a release build -->
        <activity android:name=".test.DummyActivity" />
        <activity android:name=".test.FragmentTestHostActivity" />

    </application>

</manifest>
