<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.quarian.weaver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".campaigns.CampaignListActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".characters.CharacterLibraryActivity"/>

        <activity android:name=".characters.CharacterEditorActivity"/>

        <activity
            android:name=".characters.CharacterViewActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".campaigns.CampaignSynopsisActivity"/>

        <activity android:name=".players.PlayerCharacterListActivity"/>

        <activity android:name=".campaigns.CampaignEditorActivity" />

        <activity android:name=".theming.SetThemeActivity" />

        <activity
            android:name=".namesets.ConfigureNameSetsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".SettingsActivity" />

        <activity android:name=".assets.ViewScheduledToDeleteActivity" />

        <activity android:name=".dev.DeveloperFunctionsActivity" />

    </application>

</manifest>
